<%= render 'shared/header' %>

<div class="complete-main">
  <div class="thanks">
    <p>送信が完了いたしました</p><br>
    <p>返信がございますまで、今しばらくお待ちください</p>
  </div>

  <div class="thanks-logo">
    Thank you for the message!!
  </div>
</div>